body{
    background-color: #FFCC33;
}
.field{
    background    : #FFFFCC;
    margin : 50px;
}
.share{
    background    : #FFFFCC;
    margin : 50px;
}
.hand_player{
    background    : #FFFFCC;
    margin : 50px;
}
.hand_other{
    background    : #FFFFCC;
    margin : 50px;
}
