<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/index.css">
        <title>こいこい</title>
    </head>
    <style>
        .card{
            width: 50px;
            height: auto;
        }
    </style>
    <body>
        {% if win %}
            <div class="win">
                <p> 勝ち </p>
            </div>
        {% endif %}
        <div class="share">
            <p> 相手の取り札 </p>
            {% for card in other.share.tolist() %}
                <img src="/static/images/cards/{{card.month}}_{{card.name}}.jpg" alt="{{card.name}}" class="card">
            {% endfor %}
        </div>
        <div class="hand_other">
            <p> 相手の手札 </p>
            {% for card in other.hand %}
                <img src="/static/images/cards/{{card.month}}_{{card.name}}.jpg" alt="{{card.name}}" class="card">
            {% endfor %}
        </div>
        <div class="field">
            <p> 場 </p>
            {% for card in field.cards %}
                {% if ((loop.index - 1) % 6) == 0 %}
                    <br>
                {% endif %}
                <img src="/static/images/cards/{{card.month}}_{{card.name}}.jpg" alt="{{card.name}}" class="card">
            {% endfor %}
        </div>
        <div class="hand_player">
            <p> 自分の手札 </p>
            {% for card in player.hand %}
                <a onclick="select.selected.value = '{{card}}';select.submit();">
                    <img src=/static/images/cards/{{card.month}}_{{card.name}}.jpg alt="{{card.name}}" class="card">
                </a>
            {% endfor %}
        </div>
        <form name="select" action="/select" method="post">
            {% for card in player.hand %}
                <input name="hands" type="hidden" value="{{card}}">
            {% endfor %}
            <input name="selected" type="hidden" value="">
        </form>
        <div class="share">
            <p> 自分の取り札 </p>
            {% for card in player.share.tolist() %}
                <img src=/static/images/cards/{{card.month}}_{{card.name}}.jpg alt="{{card.name}}" class="card">
            {% endfor %}
        </div>
    </body>
</html>
